
body{
    height: 500vh;
    margin-top: 0;
    background-color: rgb(26, 25, 25);
    background-image: url('./background-image.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
#home_page{
    border: 5px solid rgba(2, 56, 89);
    border-radius: 10px;
    border-top: none;
    border-width: 0 0 20px 2px;
    border-bottom-left-radius: 100px;
}
header>nav{
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
    display: flex;
    align-items: center;
    height: 1rem;
    gap: 2rem;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(114, 16, 16, .7);
}
nav>li{
    float: left;
    display: block;
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}
nav>.home{
    filter: invert(80%);
    transform: scale(1.5);
    margin-left: 3rem;
}
nav>.home:hover{
    filter: invert(100%);
    transform: scale(1.7);
    cursor: pointer;
}
nav>.account{
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 50%;
    margin-left: 70%;
    height: 2rem;
    filter: invert(100%);
}
header>.main{
    height: 40vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: hsla(180, 80%, 98%, 0.7);
    border-radius: 10px;
    margin: 2.5rem 3rem;
}
header #website_name{
    text-align: center;
}
header>.main>#website_name>.infoledge{  
    font-size: 5rem;
    margin-bottom: 0;
}
header #title{
    font-size: 2rem;
}
header .greet{
    margin-top: 3rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(178, 220, 220, 0.7);
    border-radius: 20px;
}
header .color_fill{
    font-style: italic;
    background-color: rgb(235, 216, 7);
    padding: 1rem;
}
header .greet .infoledge{
    padding: 3px;
    border: 5px solid rgb(202, 251, 255);
    background-color:  rgb(202, 251, 255);
    border-radius: 50px;
}
header .greet .smiley_border{
    padding-bottom: 10px;
    border: 2px solid rgba(114, 16, 16, .7);
    border-radius: 50%;
    border-width: 0 0 5px 0;
}
article{
    margin: 7% 0 0 5%;
    width: 40%;
    color: whitesmoke;
}
article>p{
    font-size: 2rem;
}
article li{
    padding: 10px;
    margin: 5px;
    background-color:  rgba(2, 56, 89, 0.7); 
    border-radius: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}